div(layout="column" layout-align-gt-md="center center")
  md-content.md-whiteframe-1dp.welcome(layout-margin layout-padding)
    p.md-title Greetings Data Visualizers, 
    p.md-body-1 I am really excited to share my loves of data visualization and JavaScript with you. In order to get the most out of this experience I’ve taken it upon myself to write this little web app which we’ll use during the workshop to code along together.

    p.md-body-1 Here are the implements you’ll need for our workshop:

    p.md-body-1
      strong 1. Pen or pencil and paper 
      | - Several of the exercises will involve drawing, so please bring something to sketch with, nothing fancy, a simple notebook and pencil are fine.
    p.md-body-1
      strong 2. This web app loaded in a browser 
      | - Make sure to load the website before arriving for the workshop, otherswise you'll be at the mercy of spotty hotel bandwidth.
    p.md-body-1
      strong 3. Enthusiasm and an open mind 
      | - Data visualization, straddles the fields of programming, math, art, and story telling, this workshop will involve all of these. I encourage you all to consider this an opportunity to engage with concepts and practices that might be foreign to you.

    p.md-body-1 I look forward to meeting you all!

    span.md-body-1 
      | &mdash; Mark 
      a(href="http://www.twitter.com/heavysixer") @heavysixer
  md-content.md-whiteframe-1dp.welcome(layout-margin layout-padding)
    p
      span.md-subhead A brief word about the examples used with this workshop
      br
      span.md-caption.
        One reason D3 is such a strong visualization ecosystem, is because 
        many of the best thinkers that use D3, are also the  most generous with 
        their time and techniques. 
        Several examples used in this lesson are not my own, and I have taken 
        care to give credit where possible. If I inadvertantly missed an 
        attribution or incorrectly credited the wrong person please let me know 
        and I'll update this site.
